<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>

<div>
<h1>Password Generator</h1>
<br>
Hi! This is a simple Password Generator Project using Django-Famous Python Framework!
<br>
<h2>Things I learned during this projects are as follows:</h2>
<ul>
    <li>Django Basics</li>
    <li>Git And Github</li>
    <li>Revision Of HTML,CSS</li>
</ul>
</div>
<a href="{% url 'home' %}" class=" btn btn-warning">Back To Home!</div>
</body>
</html>